body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../images/slider-bg2.jpg');
    background-size: cover;
    background-position: center;
    color: #333;
    text-align: right;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 2;
}

.booking-form {
    max-width: 450px;
    width: 100%;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    z-index: 3;
}

.booking-form h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.booking-form p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 25px;
}

.booking-form .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.booking-form .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 1rem;
}

.booking-form .form-group input,
.booking-form .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.booking-form .form-group input:focus,
.booking-form .form-group select:focus {
    border-color: #f3c024;
    box-shadow: 0 0 8px rgba(243, 192, 36, 0.5);
    outline: none;
}

.booking-form .form-group input::placeholder {
    color: #999;
    font-family: 'Playfair Display', serif;
}

.booking-form .btn-submit {
    background-color: #f3c024;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Oswald', sans-serif;
}

.booking-form .btn-submit:hover {
    background-color: #e89f10;
    transform: scale(1.05);
}
/* التصميم المتجاوب */
@media (max-width: 768px) {
    .booking-form {
        padding: 25px;
    }
    
    .booking-form h2 {
        font-size: 2rem;
    }
    
    .btn-submit {
        font-size: 1rem;
    }
}
